<div class="container">
    <div class="form-group">
        <label for="length">Längd (cm)</label>
        <input type="text" class="form-control" id="length"
               required maxlength="3"
               [(ngModel)]="userInput.length" name="length"
               #length="ngModel">
        <div *ngIf="length.errors && (length.dirty || length.touched)"
             class="alert alert-danger">
            <div [hidden]="!length.errors.required">
                Längd måste vara ifyllt.
            </div>
        </div>
        <label for="age">Ålder</label>
        <input type="text" class="form-control" id="age"
               required maxlength="3"
               [(ngModel)]="userInput.age" name="age"
               #age="ngModel">
        <div *ngIf="age.errors && (age.dirty || age.touched)"
             class="alert alert-danger">
            <div [hidden]="!age.errors.required">
                Ålder måste vara ifyllt.
            </div>
        </div>
        <select class="form-control" id="skistyle" (change)="updateSkistyle(skistyle.value)"
                required
                [(ngModel)]="userInput.skistyle" name="skistyle"
                #skistyle="ngModel">
            <option *ngFor="let s of skistyles" [value]="s">{{s}}</option>
        </select>

        <h4>-- Change Log --</h4>
        <div *ngFor="let chg of changeLog">{{chg}}</div>

        <p>{{answer.skiLength}}</p>
        <p>{{answer.comment}}</p>
    </div>
</div>