<div class="container">
    <h1>Ski Master 3000!</h1>
    <h4>Ändra i fälten för direkt feedback.</h4>
    <div class="form-group">
        <label for="length">Längd (cm)</label>
        <input type="text" class="form-control" id="length"
               required 
               maxlength="3" 
               pattern="[0-9]*"
               [(ngModel)]="userInput.length" name="length"
               #length="ngModel">
        <div *ngIf="length.errors && (length.dirty || length.touched)"
             class="alert alert-danger">
            <div [hidden]="!length.errors.required">
                Längd måste vara ifyllt.
            </div>
            <div [hidden]="!length.errors.pattern">
                Endast siffror.
            </div>
        </div>
        <label for="age">Ålder</label>
        <input type="text" class="form-control" id="age"
               required 
               maxlength="3"
               pattern="[0-9]*"
               [(ngModel)]="userInput.age" name="age"
               #age="ngModel">
        <div *ngIf="age.errors && (age.dirty || age.touched)"
             class="alert alert-danger">
            <div [hidden]="!age.errors.required">
                Ålder måste vara ifyllt.
            </div>
            <div [hidden]="!age.errors.pattern">
                Endast siffror.
            </div>
        </div>
        <label for="skistyle">Klassisk eller fristil</label>
        <select class="form-control" id="skistyle" (change)="updateSkistyle(skistyle.value)"
                required
                [(ngModel)]="userInput.skistyle" name="skistyle"
                #skistyle="ngModel">
            <option *ngFor="let s of skistyles" [value]="s">{{s}}</option>
        </select>
        <div class="answer">
            <h4>Dina skidor bör vara mellan {{answer.skiLengthMin}} och {{answer.skiLengthMax}} cm i längd.</h4>            
            <h5>{{answer.comment}}</h5>
        </div>
        <h4>-- Change Log --</h4>
        <div *ngFor="let chg of changeLog">{{chg}}</div>
    </div>
</div>